<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newandromo.dev26615.app640653">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Golden Grab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenGrab">

        <!-- Splash Screen / Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Get Started Screen -->
        <activity
            android:name=".GetStartedActivity"
            android:screenOrientation="portrait"/>

        <!-- Game Screen -->
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"/>

        <!-- High Score Screen -->
        <activity
            android:name=".HighScoreActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>